@media only screen and (max-width: 1024px) {
    // Mobile or any smaller screens 
    
#root-know-harsha {
    margin: 8px;
    background-color: var(--light-blue);
}

.content {
    padding: 70px 20px 20px;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s;
  
    &.shifted {
      transform: translateX(40px) scale(0.95);
      opacity: 0.8;
    }
}

.content {
    padding: 1em 20px 20px;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s;
}

.content.shifted {
    transform: translateX(40px) scale(0.95);
    opacity: 0.8;
}

.pages {
    padding-top: 1.5em;
}
}

@media only screen and (min-width: 1024px) {
    
#root-know-harsha {
    margin: 8px;
    background-color: var(--light-blue);
}

.content {
    padding: 70px 20px 20px;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s;
  
    &.shifted {
      transform: translateX(40px) scale(0.95);
      opacity: 0.8;
    }
}

.content {
    padding: 40px 20px 20px;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s;
}

.content.shifted {
    transform: translateX(40px) scale(0.95);
    opacity: 0.8;
}
.pages {
    padding-top: 1.5em;
}
}