/* You can add global styles to this file, and also import other style files */
/* styles.scss */
:root {
    --primary-blue: #4B9CD3; /* Sky blue */
    --secondary-blue: #75B9E6; /* Lighter sky blue */
    --accent-blue: #1E88E5; /* Slightly deeper blue for accents */
    --light-blue: #F0F9FF; /* Very light blue background */
    --white: #FFFFFF;
    --denim: #6CA0DC; /* Light denim blue */
    --sidebar-width: 80vw; //for mobile
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light-blue);
    color: #333;
    overflow-x: hidden;
  }
  
  h1 {
    font-size: 26px;
    margin-bottom: 15px;
    color: var(--primary-blue);
    font-weight: 600;
  }
  
  p {
    line-height: 1.7;
    margin-bottom: 15px;
    color: #445;
  }