/* For laptop */
@media only screen and (min-width: 1024px) {
table {
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    td {
        a {
            text-decoration: none;
            color: darkblue !important;
        }
        .company-name {
            margin-left: 2em;
        }
        .mobile-value {
            margin-left: 2em;
        }
        .email-value{
            margin-left: 2em;
        }
    }
}
}
/* For mobile */
@media only screen and (max-width: 1024px) {
    table {
        color: aliceblue;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5em;
        td {
            padding-bottom: 10px;
            a {
                text-decoration: none;
                color: darkblue !important;
            }
            .company-name {
                margin-left: 2em;
            }
            .mobile-value {
                margin-left: 2em;
            }
            .email-value{
                margin-left: 2em;
            }
        }
    }
    }
    
    