/* .mobile{
    #root-abount-me {
        width: 45vw;
        height: 45vh;
        display: flex;
       }
}

.laptop {
    #root-abount-me {
        width: 45vw;
        height: 45vh;
        display: flex;
       }
} */
