#skills {
    vertical-align: middle;
    align-items: center;
}

div.tech {
    padding: 10px 10px 10px 3vw;
    border: 2px solid rgb(186, 213, 237);
    background-color: aliceblue;
    min-height: 4vh;
    margin: 8px;
    border-radius: 5px;
}

div.tech:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    
}

div.tech:hover #tech-title{
    font-size: 24px;    
}



div.tech:hover #tech-summary{
    font-size: 20px;

}

#tech-summary {
    display:none;
    font-size: 18px;
    padding-top: 1vw;
    margin-left: 1em;
}

#tech-title {
    font-size: 22px;
    font-weight: 500;
}
