<div id="root-about-me">
    <div id="details">
      <div id="hello">Hello, I am Harsha Madhamanchi,  </div>
      <ul id="know-me">
        <li>I am software engineer with 6+ years of hands-on experience in <b>Frontend</b>, <b>Backend</b>, and <b>DevOps</b> I’ve built, broken, and rebuilt a lot of systems along the way.</li>
        <li>Always diving into new technologies, tweaking old ones, and finding smarter ways to solve problems. I love to learn, experiment, and grow.</li>
        <li>I’ve worked across various tech stacks and enjoy the challenge of picking the right tool for the job.</li>
        <li>Collaboration is key—whether it's brainstorming solutions or sharing knowledge, I’m all about working together to get things done.</li>
        <li>I believe in delivering quality results, optimizing workflows, and keeping the user experience at the heart of everything I build.</li>
        <li>Always open to collaborations and new opportunities. If I love the idea, count me in! </li>
      </ul>
  
    </div>
    <div class="slideshow-container">
        <img class="mySlides fade" [src]="images[slideIndex]" alt="my trip pics">
    </div>
  </div>